absl-py==2.1.0
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
audioread==3.0.1
backports.weakref==1.0.post1
c2==0.1.7
clyent==1.2.1 
docopt==0.6.2
et-xmlfile==1.1.0
extra-streamlit-components==0.1.71
flatbuffers==24.3.25
fonttools==4.25.0
gast==0.4.0
google-auth==2.29.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.63.0
h5py==3.11.0
inflection==0.5.1
jsonpointer==2.1
keras==3.3.3
libclang==18.1.1
librosa==0.10.2
ml-dtypes==0.3.2
munkres==1.1.4
namex==0.0.8
numpy==1.24.3
oauthlib==3.2.2
opencv-python==4.9.0.80
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.11.0
patsy==0.5.3
ply==3.11
pooch==1.8.1
protobuf==3.20.3
pyasn1-modules==0.2.8
pydicom==2.4.4
PyDispatcher==2.0.5
pykwalify==1.8.0
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
#pyradiomics-featureextractor==3.0.1
python-lsp-jsonrpc==1.0.0
requests-oauthlib==2.0.0
rsa==4.9
SimpleITK==2.3.1
soundfile==0.12.1
soxr==0.3.7
streamlit-authenticator==0.3.2
streamlit-drawable-canvas==0.9.3
style==1.1.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.37.0
termcolor==2.4.0
torch==2.3.0
torchvision==0.18.0
typer==0.4.2
typing_extensions==4.5.0
update==0.0.1
webencodings==0.5.1
